body{
    padding: 0;
    margin: 0;
}

*{
    scroll-behavior: smooth;
    overflow: hidden;
}

img{
    -webkit-user-drag: none;
    user-select: none;
    object-fit: contain;
    object-position: center;
}

.container{
    position: relative;
    height: 100vh;
 
}

.container>.content{
    padding: 2rem;
}

.container>.controls{
    display: flex;
    gap:2rem;
    color:white;
    position: absolute;
    bottom: 2rem;
    right:2rem;
}



